@import "../../../App.scss";

@mixin flex($d, $j, $a) {
  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin djflex($d, $j) {
  display: ($d);
  justify-content: ($j);
}

@mixin daflex($d, $a) {
  display: ($d);
  align-items: ($a);
}

@mixin border($direction, $width, $style, $color) {
  border-#{$direction}: $width $style $color;
}

@mixin bor($px, $sol, $col) {
  border-style: ($sol);
  border-width: ($px);
  border-color: ($col);
}

// ---------------------------

header {
  width: auto;
  height: 5rem;
  color: #fff;
  letter-spacing: 0.2rem;
  font-family: "PressStart2P-Regular";
  @include flex(flex, center, center);
}

ul {
  padding: 2rem auto;
  @include flex(flex, center, center);
}

li {
  width: 13rem;
  height: 3.5rem;
  opacity: 0.6;
  cursor: pointer;
  @include flex(flex, center, center);
}

li:hover {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 5px;
  color: yellow;
  font-size: 1.2rem;
  text-align: center;
  background-color: #ffffff45;
  opacity: 1;
  @include flex(flex, center, center);
}
