@import "../../../App.scss";

@mixin flex($d, $j, $a) {
  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin djflex($d, $j) {
  display: ($d);
  justify-content: ($j);
}

@mixin daflex($d, $a) {
  display: ($d);
  align-items: ($a);
}

@mixin border($direction, $width, $style, $color) {
  border-#{$direction}: $width $style $color;
}

@mixin bor($px, $sol, $col) {
  border-style: ($sol);
  border-width: ($px);
  border-color: ($col);
}

// ---------------------------

#PortMain {
  @include flex(flex, center, center);

  article {
    max-width: 100rem;
    height: auto !important;
    padding: 0;
    margin: 0;
    text-align: center;
    @include flex(flex, center, center);

    footer {
      width: 100rem;
      margin-bottom: -46rem;
      position: absolute;
      background-image: url("../../../../public/block.png");
      background-size: contain;
      background-position: center center;
      @include flex(flex, center, center);
      @include bor(1px, solid, black);
    }
  }
}
