@import "../../../App.scss";

@mixin flex($d, $j, $a) {
  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin djflex($d, $j) {
  display: ($d);
  justify-content: ($j);
}

@mixin daflex($d, $a) {
  display: ($d);
  align-items: ($a);
}

@mixin border($direction, $width, $style, $color) {
  border-#{$direction}: $width $style $color;
}

@mixin bor($px, $sol, $col) {
  border-style: ($sol);
  border-width: ($px);
  border-color: ($col);
}

// ---------------------------

#PortMain {
  @include flex(flex, center, center);

  article {
    max-width: 100rem;
    height: auto !important;
    padding: 0;
    margin: 0;
    text-align: center;
    @include flex(flex, center, center);
  }

  .workText {
    width: 50rem;
    height: 8.5rem;
    color: #fff;
    font-family: "PressStart2P-Regular";
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.6;
    @include flex(flex, center, center);
  }

  a {
    color: #fff;
  }

  .workText:hover {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: yellow;
    font-size: 2rem;
    text-align: center;
    background-color: #ffffff45;
    opacity: 1;
    @include flex(flex, center, center);
  }

  .workTv {
    width: 50rem;
    height: 8rem;
    color: #fff;
    border: 1px solid black;
    font-family: "PressStart2P-Regular";
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    @include flex(flex, center, center);
  }
}
