@import "../../../App.scss";

@mixin flex($d, $j, $a) {
  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin djflex($d, $j) {
  display: ($d);
  justify-content: ($j);
}

@mixin daflex($d, $a) {
  display: ($d);
  align-items: ($a);
}

@mixin border($direction, $width, $style, $color) {
  border-#{$direction}: $width $style $color;
}

@mixin bor($px, $sol, $col) {
  border-style: ($sol);
  border-width: ($px);
  border-color: ($col);
}

// ---------------------------

#PortMain {
  @include flex(flex, center, center);

  article {
    max-width: 100rem;
    height: auto !important;
    padding: 0;
    margin: 0;
    text-align: center;
    @include flex(flex, center, center);
  }

  .workScroll {
    width: 40rem;
    margin-bottom: 5rem;
    position: relative;
    @include flex(flex, center, center);
  }

  .workText {
    width: 30rem;
    height: 7rem;
    color: #fff;
    font-family: "PressStart2P-Regular";
    font-size: 1.4rem;
    text-transform: uppercase;
    opacity: 0.6;
    margin: 0 15rem 0 0;
    flex-direction: column;
    @include flex(flex, center, center);
  }

  .workText:hover {
    border: 3px solid #fff;
    border-radius: 3px;
    color: rgb(18, 59, 134);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-size: 2rem;
    background-color: #ffffff45;
    opacity: 1;
    @include flex(flex, center, center);
  }

  .workTv {
    width: 30rem;
    height: 30rem;
    color: #fff;
    background-image: url(../../../assets/images/sony.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 0 7rem 0;
    @include flex(flex, center, center);

    img {
      width: 22rem;
      height: 17rem;
      margin-top: 2rem;
      position: relative;
    }
  }
}
