@charset "UTF-8";
html {
  font-size: 20px !important;
}

body {
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

h2 {
  font-weight: 900;
  font-size: 2rem;
  padding: 3.15rem 0 1.1rem 0;
  text-align: center;
}

ul {
  margin: 0 !important;
  list-style: none;
  padding: 0 !important;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

/* ==========================     폰트      ===================== */
@font-face {
  font-family: "Gmarket-Bold";
  src: url("./assets/fonts/GmarketSansTTFBold.ttf") format("truetype");
}
@font-face {
  font-family: "Gmarket-Light";
  src: url("./assets/fonts/GmarketSansTTFLight.ttf") format("truetype");
}
@font-face {
  font-family: "Gmarket-Medium";
  src: url("./assets/fonts/GmarketSansTTFMedium.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-Black";
  src: url("./assets/fonts/Pretendard-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("./assets/fonts/Pretendard-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("./assets/fonts/Pretendard-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url("./assets/fonts/Pretendard-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("./assets/fonts/Pretendard-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("./assets/fonts/Pretendard-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("./assets/fonts/Pretendard-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("./assets/fonts/Pretendard-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-Thin";
  src: url("./assets/fonts/Pretendard-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "PressStart2P-Regular";
  src: url("./assets/fonts/PressStart2P-Regular.ttf") format("truetype");
}
/* ==========================     반응형 작업      ===================== */
@media screen and (max-width: 1799px) {
  /* 데스크탑 */
  html {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 1199px) {
  html {
    font-size: 16px !important;
  }
}
/* 테블릿 */
/* 모바일 */
@media screen and (max-width: 479px) {
  html {
    font-size: 10px !important;
  }
}
#PortMain {
  display: flex;
  justify-content: center;
  align-items: center;
}
#PortMain article {
  max-width: 100rem;
  height: auto !important;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#PortMain .MainWrapper {
  position: absolute;
  width: auto;
  height: auto;
  white-space: nowrap;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
#PortMain .MainFocus {
  text-transform: uppercase;
  font-family: "PressStart2P-Regular";
  font-weight: bold;
  letter-spacing: 8px;
  font-size: 3rem;
  color: #afafaf;
  flex-direction: column;
  margin: 2rem auto;
  filter: blur(1.5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#PortMain .MainFocus:hover {
  color: red;
  filter: blur(0);
}