@charset "UTF-8";
html {
  font-size: 20px !important;
}

body {
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

h2 {
  font-weight: 900;
  font-size: 2rem;
  padding: 3.15rem 0 1.1rem 0;
  text-align: center;
}

ul {
  margin: 0 !important;
  list-style: none;
  padding: 0 !important;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

/* ==========================     폰트      ===================== */
@font-face {
  font-family: "Gmarket-Bold";
  src: url("./assets/fonts/GmarketSansTTFBold.ttf") format("truetype");
}
@font-face {
  font-family: "Gmarket-Light";
  src: url("./assets/fonts/GmarketSansTTFLight.ttf") format("truetype");
}
@font-face {
  font-family: "Gmarket-Medium";
  src: url("./assets/fonts/GmarketSansTTFMedium.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-Black";
  src: url("./assets/fonts/Pretendard-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("./assets/fonts/Pretendard-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("./assets/fonts/Pretendard-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url("./assets/fonts/Pretendard-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("./assets/fonts/Pretendard-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url("./assets/fonts/Pretendard-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("./assets/fonts/Pretendard-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("./assets/fonts/Pretendard-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-Thin";
  src: url("./assets/fonts/Pretendard-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "PressStart2P-Regular";
  src: url("./assets/fonts/PressStart2P-Regular.ttf") format("truetype");
}
/* ==========================     반응형 작업      ===================== */
@media screen and (max-width: 1799px) {
  /* 데스크탑 */
  html {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 1199px) {
  html {
    font-size: 16px !important;
  }
}
/* 테블릿 */
/* 모바일 */
@media screen and (max-width: 479px) {
  html {
    font-size: 10px !important;
  }
}
body {
  background-color: #5d93fd;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: absolute;
  left: 21%;
  top: 5%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 70px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.focus {
  top: 50%;
  left: -150%;
  transform: translateY(-50%);
  text-transform: uppercase;
  font-family: "PressStart2P-Regular";
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 3rem;
  opacity: 0.8;
  color: #ffffff;
  position: absolute;
  flex-direction: column;
  filter: blur(1.5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.focus h1 {
  font-size: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mask {
  width: 5rem;
  height: 50px;
  left: auto;
  top: -2.6rem;
  font-family: "PressStart2P-Regular";
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  font-size: 3rem;
  clip: rect(0px, 5rem, 5rem, 0px);
  background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255) 0) no-repeat, linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255) 0) no-repeat, linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255) 0) bottom left no-repeat, linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255) 0) bottom left no-repeat, linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255) 0) bottom right no-repeat, linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255) 0) bottom right no-repeat, linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255) 0) top right no-repeat, linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255) 0) top right no-repeat;
  background-size: 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px;
  transform: translateX(0);
  box-sizing: border-box;
  animation: mask 3s ease infinite alternate;
  color: yellow;
}
.mask .text {
  animation: text 3s ease infinite alternate;
}

.textPress {
  font-size: 3rem;
  position: absolute;
  text-align: center;
  font-family: "PressStart2P-Regular";
  letter-spacing: 2px;
  margin: 1.3rem 11rem;
  text-transform: uppercase;
  color: yellow;
  animation: textPress 0.4s ease infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes mask {
  to {
    transform: translateX(51rem);
  }
}
@keyframes text {
  to {
    transform: translateX(-49rem);
  }
}
@keyframes textPress {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}