@import "../../../App.scss";

@mixin flex($d, $j, $a) {
  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin djflex($d, $j) {
  display: ($d);
  justify-content: ($j);
}

@mixin daflex($d, $a) {
  display: ($d);
  align-items: ($a);
}

@mixin border($direction, $width, $style, $color) {
  border-#{$direction}: $width $style $color;
}

@mixin bor($px, $sol, $col) {
  border-style: ($sol);
  border-width: ($px);
  border-color: ($col);
}

// ---------------------------

.introDuceBox {
  width: 40rem;
  height: 30rem;
  margin: 0 0 5rem 3rem;
  @include flex(flex, center, center);
}

.introDuceText {
  width: 40rem;
  height: 30rem;
  font-size: 2rem;
  text-align: left;
  font-family: "Gmarket-bold";
  flex-direction: column;
  font-weight: bold;
  text-align: center;
  padding: 50px;
  letter-spacing: 5px;
  color: rgb(233, 248, 26);
  -webkit-text-stroke: 2px rgb(26, 62, 168);
  @include flex(flex, center, center);
}
