@import "../../../App.scss";

@mixin flex($d, $j, $a) {
  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin djflex($d, $j) {
  display: ($d);
  justify-content: ($j);
}

@mixin daflex($d, $a) {
  display: ($d);
  align-items: ($a);
}

@mixin border($direction, $width, $style, $color) {
  border-#{$direction}: $width $style $color;
}

@mixin bor($px, $sol, $col) {
  border-style: ($sol);
  border-width: ($px);
  border-color: ($col);
}

// ---------------------------

#IntroDuceRoot {
  max-width: 100rem;
  height: auto !important;
  padding: 0;
  margin: 0;
  text-align: center;
  @include flex(flex, center, center);

  .SectionInfo {
    width: 40rem;
    height: 30rem;
    border: 5px solid #fff;
    margin: 0 2rem 0 0;
    color: #fff;
    text-align: center;
    @include flex(flex, center, center);
  }

  .SectionInfo:hover {
    border-color: red;
    cursor: pointer;
    filter: blur(0);
  }
}
