@import "../../../App.scss";

@mixin flex($d, $j, $a) {
  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin djflex($d, $j) {
  display: ($d);
  justify-content: ($j);
}

@mixin daflex($d, $a) {
  display: ($d);
  align-items: ($a);
}

@mixin border($direction, $width, $style, $color) {
  border-#{$direction}: $width $style $color;
}

@mixin bor($px, $sol, $col) {
  border-style: ($sol);
  border-width: ($px);
  border-color: ($col);
}

// ---------------------------

#PortMain {
  @include flex(flex, center, center);

  article {
    max-width: 100rem;
    height: auto !important;
    @include flex(flex, center, center);

    .mainBack {
      width: auto;
      height: auto !important;
      flex-direction: column;
      text-transform: uppercase;
      @include flex(flex, center, center);

      main {
        width: auto;
        height: 40rem;
      }

      .MainInfo {
        width: auto;
        height: 37rem;
        color: #fff;
        border-top: 3px dotted #fff;
        @include flex(flex, space-between, center);

        div {
          width: 50rem;
          height: 30rem;
        }

        .MainPic {
          background-image: url(../../../../public/me.png);
          background-position: 70% center;
          background-repeat: no-repeat;
          @include flex(flex, center, center);
        }

        .MainText {
          font-size: 2rem;
          margin: 0 0 0 -5rem;
          text-align: left;
          font-family: "PressStart2P-Regular";
          opacity: 0.6;
          @include flex(flex, center, center);
        }

        .MainText:hover {
          color: yellow;
          font-size: 2.1rem;
          opacity: 1;
        }
      }
    }
  }
}
