@import "../../../App.scss";

@mixin flex($d, $j, $a) {
  display: ($d);
  justify-content: ($j);
  align-items: ($a);
}

@mixin djflex($d, $j) {
  display: ($d);
  justify-content: ($j);
}

@mixin daflex($d, $a) {
  display: ($d);
  align-items: ($a);
}

@mixin border($direction, $width, $style, $color) {
  border-#{$direction}: $width $style $color;
}

@mixin bor($px, $sol, $col) {
  border-style: ($sol);
  border-width: ($px);
  border-color: ($col);
}

// ---------------------------

#PortMain {
  @include flex(flex, center, center);

  article {
    max-width: 100rem;
    height: auto !important;
    padding: 0;
    margin: 0;
    text-align: center;
    @include flex(flex, center, center);

    .Contact {
      width: 100rem;
      height: auto;
      flex-direction: column;
      @include flex(flex, center, center);

      .contactText {
        width: auto;
        height: auto;
        text-transform: uppercase;
        font-family: "PressStart2P-Regular";
        font-weight: bold;
        letter-spacing: 8px;
        font-size: 3rem;
        color: #ffffff;
        margin: 2rem auto;
        text-align: center;
        filter: blur(1px);
        @include flex(flex, center, center);
      }

      .contactText:hover {
        filter: blur(0);
      }

      .mainIcon {
        font-size: 4.5rem;
        margin: 0 1.5rem;
        @include flex(flex, center, center);
      }

      .youtubeIcon {
        font-size: 4.5rem;
        margin: 0 1rem;
        @include flex(flex, center, center);
      }

      .phoneIcon {
        font-size: 3rem;
        margin: 0 2rem;
        @include flex(flex, center, center);
      }

      .emailIcon {
        font-size: 3rem;
        margin: 0 2rem;
        @include flex(flex, center, center);
      }
    }
  }
}
